.list-names-block {
  margin-top: 50px;
  width: 960px;
  padding: 0 30px;
}

.add-button {
  display: inline-block;
  width: 110px;
  padding: 10px 10px;
}

.add-input {
  display: inline-block;
  width: 100px;
  height: 40px;
  position: relative;
}
